<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %><br>
  <%= @article.created_at.localtime("-04:00").strftime("Created at %I:%M%p on %m/%d/%Y") %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>
